.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.allToysContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: start;
  max-width: 50%;
}

.toyContainer {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 80%;
}

.imgToysCart {
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.toyDetails {
  flex-grow: 1;
}

.totalPrice {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}

.quantityButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.quantityButton {
  background-color: var(--primary);
  color: var(--text-on-dark);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  width: 50px;
  margin-right: 5px;
}

.quantityButton:hover {
  background-color: var(--primary-light);
}

@media (min-width: 800px) {
  .imgToysCart {
    max-width: 30%;
  }
}

@media (max-width: 600px) {
  .imgToysCart {
    max-width: 50%;
    height: auto;
    object-fit: cover;
  }

  .allToysContainer {
    max-width: 90%;
  }

  .toyContainer {
    width: 100%;
  }
}
