.editableToysContainer {
  text-align: left;
  list-style-type: none;
}

.editableToy {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 50px;
  border-radius: 8px;
  background-color: #fff;
}

.editableToy img {
  max-width: 50%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn {
  padding: 0.5rem 1rem;

  background-color: var(--primary);
  border: 1px solid var(--primary-dark);
  border-radius: 3px;
  margin-right: 5px;
  color: var(--text-on-dark);
  cursor: pointer;

  &:disabled {
    background-color: color-mix(in srgb, var(--primary) 40%, white 60%);
    cursor: not-allowed;
  }
}

.deleteBtn,
.cancelBtn {
  padding: 0.5rem 1rem;

  background-color: color-mix(in srgb, var(--secondary-light) 70%, black 30%);
  border: 1px solid var(--primary-dark);
  border-radius: 3px;
  margin-right: 5px;
  color: var(--text-on-dark);
  cursor: pointer;

  &:disabled {
    background-color: color-mix(in srgb, var(--primary) 40%, white 60%);
    cursor: not-allowed;
  }
}

.btn:hover {
  background-color: var(--primary-light);
}

.cancelBtn:hover,
.deleteBtn:hover {
  background-color: var(--secondary-light);
}

.fieldError {
  color: var(--error-color);
  margin-top: 0;
}
