.profileContainer {
  max-width: 400px;
  margin: 0 auto;
}

.brandForm {
  display: flex;
  flex-direction: column;
}

.brandForm label {
  margin-bottom: 8px;
}

.brandForm input {
  padding: 15px;
  margin-bottom: 15px;
}

.brandForm button {
  background-color: var(--primary);
  color: var(--text-on-dark);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .brandForm {
    padding: 50px;
  }
}

.fieldError {
  color: var(--error-color);
  margin-top: 0;
}
