.passwordInput {
  position: relative;

  & > input {
    width: 100%;
  }

  & > .btn {
    position: absolute;
    right: 0;
    top: 0.7rem;

    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary-dark);
    font-size: 1.8rem;
  }
}

.fieldError {
  color: var(--error-color);
  margin: 0;
}

.btn {
  padding: 0.5rem 1rem;

  background-color: var(--primary);
  border: 1px solid var(--primary-dark);
  border-radius: 3px;
  color: var(--text-on-dark);
  cursor: pointer;

  &:disabled {
    background-color: color-mix(in srgb, var(--primary) 40%, white 60%);
    cursor: not-allowed;
  }
}
