.mainMenu {
  display: flow-root;
  background: var(--primary-dark);

  & menu {
    display: flex;
  }
}

.navLink {
  display: inline-block;

  padding: 1rem 1.5rem;

  color: var(--text-on-dark);
  text-decoration: none;

  &:hover,
  &.active {
    color: color-mix(
      in srgb,
      var(--text-on-dark) 50%,
      var(--secondary-light) 50%
    );
  }
}

.pushRight {
  margin-left: auto;
  color: var(--text-on-dark);
  display: flex;
  align-items: center;
}

.notificationCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  margin-left: 4px;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.hamburgerIcon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background-color: var(--primary-dark);
    position: absolute;
    width: 40%;
  }

  .navLink {
    margin: 10px;
  }

  .hamburgerIcon {
    display: block;
    margin-left: 10px;
  }

  .pushRight {
    flex-direction: column;
    margin-right: auto;
  }

  .mainMenu menu.hideNavMobile {
    display: none !important;
  }
  .mainMenu menu.showNavMobile {
    display: flex !important;
  }

  .homeWrapper {
    display: flex;
    justify-content: center;
  }
}
